@charset "UTF-8";


body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-bottom: 70px;
  list-style: none;
  /* background: linear-gradient(#fff, #FFCCFA); */
}



@media screen and (max-width: 428px) {/* スマホ限定のロゴ表示 */

heder h1 img.logo_sp {
  display: block;
  margin-left: 5% !important;
}


header h1 img.logo_pc {
  display: none;
}



/* ハンバーガーメニュー */

header .drawer {
  visibility: visible;
  width: 24px;
  position: absolute;
  top: 15px;
  right: 15px;
  border-top: solid 4px #aaaaaa;
  cursor: pointer;
  z-index: 100;
}

header .drawer::before,
header .drawer::after {
  content: "";
  display: block;
  width: 24px;
  background: #aaaaaa;
  height: 4px;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.5s;
}

header .drawer::before {
  top: 6px;
}

header .drawer::after {
  top: 15px;
}





header .header_nav {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background: #fff;
}

header .header_nav ul {
  display: block;
}

header .header_nav ul li {
  margin: 5% auto;
}

header .header_nav ul li a {
  line-height: 3;
  font-size: 1.75rem;
}

header .header_nav ul li.contact {
  width: 30%;
}



body.nav-open header .drawer {
  border-top: 0;
}

body.nav-open header .drawer::before {
  top: 9px;
  transform: rotate(-45deg);
}

body.nav-open header .drawer::after {
  top: 9px;
  transform: rotate(45deg);
}


nav.header_nav ul {
  background-color: #FFCCFA;
  padding-top: 30px;
  padding-bottom: 30px;
}

nav.header_nav ul li {
  text-align: center;
  font-size: 14px;

}
nav.header_nav ul li a {
  text-decoration: none;
  font-size: 14px;
}

}



header {
  padding-top: 10px;
  padding-bottom: 10px;
}

header div.top_img {
  background-image: url(../img/top.png);
  background-size: cover;
  height: 80vh;
  width: 100%;
  position: relative;
  
}

header div.top_img p {
  top: 20vh;
  left: 5%;
  z-index: 50;
  position: absolute;
  font-size: 1.4em;
  color: #f895ee;
  font-weight: bold;
}



@media screen and (max-width: 428px) {
  /* スマホ限定ダウンロード下部表示 */
div.downlord {
  position: fixed;
  bottom: 0;
  z-index: 100;
}

div.downlord ul {
  display: flex;
}

div.downlord ul li {
  width: 50%;
}

div.downlord ul li img {
  width: 100%;
}

}


/* header div.header_fixed {
  position: fixed;
  top: 0;
  height: 100px;
  z-index: 200;
  width: 100%;
  padding-left: 2%;
  padding-top: 5px;
} */




/* ここからメイン */

/* セクション1 */

section {
  padding-top: 70px;
}

section:nth-child(even){
  background-color: #FFCCFA;
}

h2 {
  font-weight: normal;
  font-size: 1.3em;
  line-height: 1.5em;
}


h2.bg_pink {
  position: relative;
  padding: 0.25em 1em;
  width: 80%;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2.bg_pink:before,
h2.bg_pink:after {
  content: '';
  width: 20px;
  height: 25px;
  position: absolute;
  display: inline-block;
}

h2.bg_pink:before {
  border-left: solid 1px #fff;
  border-top: solid 1px #fff;
  top: 0;
  left: 0;
}

h2.bg_pink:after {
  border-right: solid 1px #fff;
  border-bottom: solid 1px #fff;
  bottom: 0;
  right: 0;
}



h2.bg_white {
  position: relative;
  padding: 0.25em 1em;
  width: 80%;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2.bg_white:before,
h2.bg_white:after {
  content: '';
  width: 20px;
  height: 25px;
  position: absolute;
  display: inline-block;
}

h2.bg_white:before {
  border-left: solid 1px #FFCCFA;
  border-top: solid 1px #FFCCFA;
  top: 0;
  left: 0;
}

h2.bg_white:after {
  border-right: solid 1px #FFCCFA;
  border-bottom: solid 1px #FFCCFA;
  bottom: 0;
  right: 0;
}


/* h2.bg_pink {
  margin: 0;
  padding: 0;
} */







main {
  width: 100%;
  
}

section {
  padding-bottom: 20px;
}

section.intro {
  position: relative;
}

section.intro::before {
  width: 100%;
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  /*線の上下位置*/
  display: inline-block;
  width: 80%;
  /*線の長さ*/
  height: 2px;
  /*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  /*位置調整*/
  background-color: #FFCCFA;
  /*線の色*/
  border-radius: 2px;
  /*線の丸み*/
}

section.intro p {
  padding-top: 100px;
  text-align: center;
  width: 100%;
  font-size: 2em;
  line-height: 2em;
  
}

section.intro p span {
  background: linear-gradient(transparent 20%, #FFCCFA 70%);
}

section.intro img {
  display: block;
  margin: 10px auto;

}



section.saport {
  position: relative;
}

section.saport p {
  position: absolute;
  top: 18vh;
  right: 5%;
  width: 60%;
  line-height: 1.2em;
}

section.saport img {
  margin-left: -15%;
}


div.counter_block p ,div.schedule_block p {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  line-height: 1.2em;
  text-align: justify;
}


/* ここからフッター */



footer::before {
  width: 100%;
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  /*線の上下位置*/
  display: inline-block;
  width: 80%;
  /*線の長さ*/
  height: 2px;
  /*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  /*位置調整*/
  background-color: #fff;
  /*線の色*/
  border-radius: 2px;
  /*線の丸み*/
  margin-top: 20px;
}



footer {
  background-color: #FFCCFA;
  padding-top: 40px;
  padding-bottom: 20px;
  position: relative;

}

footer ul li {
  text-align: center;
  line-height: 1.5em;

}

footer ul li a {
  text-decoration: none;
  display: block;
  text-align: center;
}

footer p {
  padding-top: 40px;
  text-align: center;
  padding-bottom: 20px;
}





#page-top {
  position: fixed;
  bottom: 130px;
  right: 5%;
  font-size: 1.2em;
  font-weight: bold;
  z-index: 100;
}

#page-top a {
  background: #666;
  text-decoration: none;
  color: #fff;
  width: 60px;
  padding: 20px 0;
  text-align: center;
  display: block;
  border-radius: 50%;
}

#page-top a:hover {
  text-decoration: none;
  background: #999;
}
