@charset "UTF-8";



@media screen and (min-width: 768px) {

  * {
    list-style-type: none;
  }

  body {
    margin-bottom: 0 !important;
  }

    header h1 img.logo_pc {
      display: block;
      margin-left: 5% !important;
    }
  
  
    header h1 img.logo_sp {
      display: none;
    }



    header nav {
      width: 100%;
      height: 100px;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    div.header_fixed{
      display: flex;
    }

    header nav ul{
      /* display: flex; */
      margin-left: 50%;
      width: 50%;
    }

    header nav ul li {
      display: inline-block;
      margin-left: 3% !important;
    }
    header nav ul li a {
      display: block;
      width: 100%;
      margin-left: 2%;
      color: #333;
      text-decoration: none;
    }


header, main, footer {
  width: 100%;
}



div.header_wrapper, div.main_wrapper, div.footer_wrapper {
  width: 100%;
  max-width: 1000px;
  display: block;
  margin: 0 auto 5px auto;
}


header div.top_img {
  background-image: url(../img/top.png);
  background-size: contain;
  background-position: 70%;
  height: 80vh;
  width: 100%;
  background-repeat: no-repeat;
}

header div.top_img p{
  left: 20%;
  font-size: 2em;
  font-weight: 700;
}

div.downlord {
  position: fixed;
  width: 20%;
  right: 2%;
  bottom: 30px;
  z-index: 100;
}

div.downlord ul {
  display: flex;
  width: 100%;
}

div.downlord ul li {
  width: 50%;
}

h2 {
  font-size: 1.4em;
}

div.downlord ul li img {
  width: 100%;
}

section.intro img {
  width: 20%;
}

section.saport img {
  margin-left: 10%;
}

div.saport_block {
  display: flex;
}

div.saport_block p {
  width: 50% !important;
  display: block;
  margin-left: -30%;
  margin-top: 100px;
  line-height: 1.8em;
  font-size: 1.2em;
}

div.counter_block, div.schedule_block {
  display: flex;
  width: 100%;
}

div.counter_block p, div.schedule_block p {
  margin-top: 80px;
  width: 40%;
  line-height: 1.8em;
  font-size: 1.2em;
}

footer ul {
  display: flex;
  margin-left: 25%;
}

footer ul li {
  margin-left: 5%;
  text-align: center;
}

footer ul li a {
  color: #333;
}




}



@media screen and (min-width: 430px) and (max-width:769px){





        header div.top_img {
          background-image: url(../img/top.png);
          background-size: contain;
          background-position: 50%;
          height: 80vh;
          width: 100%;
          background-repeat: no-repeat;
        }

        header div.top_img p {
          left: 15%;
          font-size: 1.8em;
          font-weight: 700;
        }

        div.saport_block p {
          margin-top: -30px;
        }
        div.counter_block p {
          margin-top: -30px;
        }

        div.schedule_block p {
          margin-top: 50px
        }

}